NODE_ENV=development
APP_PORT=3000
ALLOWED_ORIGINS=

AMQP_URL=
EXCHANGE=rewards


DB_USER=
DB_PASSWORD=
DB_NAME=ecommerce-achievements
DATABASE_URL=    # Set by docker-compose

RABBITMQ_USER=
RABBITMQ_PASSWORD=

MIN_ORDER_AMOUNT=
MAX_RETRIES= # Broker retry policy.
RETRY_DELAY_MS=

BADGE_REWARD_AMOUNT=300

# Payment gateway
PAYSTACK_URL=https://api.paystack.co
PAYSTACK_SECRET_KEY=
